* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#nav {
  height: 145px;
  padding: 0 190px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  gap: 50px;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
}
#nav img {
  height: 70px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500px;
}
video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(56, 55, 55, 0.47);
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  top: -8px;
  left: -8px;
  color: #000;
  -webkit-text-stroke: 2px #95c113;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
}
#page1 p {
  font-size: 15px;
  font-weight: 400;
  width: 40%;
}
#page2 {
  height: 100vh;
  width: 100%;
}
