* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 15px;
  width: 15px;
  position: fixed;
  background-color: #95c113;
  border-radius: 50%;
  z-index: 99;
}
#cursor-blur {
  height: 300px;
  width: 300px;
  position: fixed;
  background-color: rgba(188, 226, 83, 0.3);
  filter: blur(80px);
  border-radius: 50%;
  z-index: 10;
}
#nav {
  height: 145px;
  padding: 0 190px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  gap: 50px;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
}
#nav img {
  height: 70px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500px;
}
video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 10;
}
#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  top: -8px;
  left: -8px;
  color: #000;
  -webkit-text-stroke: 2px #95c113;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
}
#page1 p {
  font-size: 15px;
  font-weight: 400;
  width: 40%;
}
#page2 {
  height: 100vh;
  width: 100%;
  z-index: 10;
}
#sclloer {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#sclloer::-webkit-scrollbar {
  display: none;
}
#sclloer-1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#sclloer h4 {
  display: inline-block;
  font-size: 130px;
  font-weight: 900px;
  font-family: gilroy;
  margin-right: 10px;
  color: #000;
  transition: all linear 0.2s;
  -webkit-text-stroke: 2px #95c113;
}
#sclloer h4:hover {
  color: #95c113;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  padding: 0 50px;
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-around;
}
#about-us img {
  height: 210px;
  width: 210px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 50px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 25px;
}
